/* app global css */
* {
    box-sizing: border-box;
}

:root {
    --table-color: #fff;
}


.vertical-table_container {
    display: grid;
    justify-content: center;
    /* width: 98%; */
    margin: auto;
}  

.title-container {
    padding: 0.3rem 1.5rem;
    width: 100%;
    color: var(--table-color);
    font-size: 2rem;
}

.subtitle-container {
    padding: 0.3rem 1.5rem;
    width: 100%;
    color: var(--table-color);
    color: var(--table-color);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.table-container {
    overflow: auto;
    height: 25.5rem;
}

.table-content {
  max-width: 100%;
}

.table-head_titles {
  color: var(--table-color);
}

/* .table-row {
} */

.table-ceil {
  padding: 0.5rem;
}

.table-ceil:nth-child(1) {
  min-width: 15rem;
}

.conditionalBinding {
  text-transform: uppercase;
  font-weight: bold;
}